MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mediassist_db
MYSQL_USER=mediassist_user
MYSQL_PASSWORD=mediassist_pass

DB_URL=jdbc:mysql://mysql:3306/mediassist_db
DB_USERNAME=root
DB_PASSWORD=rootpassword

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

AI_SERVICE_URL=http://ai-service:8000/api/v1
VITE_API_URL=http://localhost/api
